/* Debug */


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form select,
form textarea,
form button {
    width: 50%;
}

html {
    scrollbar-width: none;
}


/* Fine Debug */




/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Fine RESET */



/* CARD */
.card-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-img {
    width: 70%;
    border: 1px solid green;
    padding: 5px;
}

.card-img img {
    object-fit: contain;
    width: 100%;
}

.card {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Fine CARD */


/* TABELLA */
.wine-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.wine-table th,
.wine-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.wine-table th {
    background-color: #f5f5f5;
}

/* Fine TABELLA */


/* COMPARATORE */
.compare-card-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0 auto;
    width: 90%;
    overflow-x: auto;
}

.compare-card {
    border: 1px solid black;
    flex-shrink: 0;
    padding: 10px;
    width: 30%;
    margin: 10px;
}

.compare-card-img {
    margin: 0 auto;
    width: 70%;
    border: 1px solid green;
    padding: 5px;
}

.compare-card-img img {
    object-fit: contain;
    width: 100%;
}

/* Fine COMPARATORE */



/* FAVORITES */
.favorites-card-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Fine FAVORITES */





/* MODALI */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* sfondo scuro trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* sopra tutto */
}

.modal {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    /* responsive */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

/* animazione di comparsa */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fine Modali */


/* HEADER */

header {
    background-color: #722F37;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.logo {
    width: 10%;
}

.logo img {
    object-fit: cover;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #C5A46D;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    margin-right: 10px;
}

.links a {
  position: relative;
  text-decoration: none;
  padding: 5px 5px;
  transition: transform 0.3s ease;
}

/* Linea base */
.links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #C5A46D;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

/* Effetto hover per i link NON attivi */
.links a:hover::after {
  width: 100%;
}

/* Stato active */
.links a.active {
  transform: translateY(-10px); /* lo alzi */
}

/* La linea sempre visibile solo per l'active */
.links a.active::after {
  width: 100%;
}


.links button {
    background-color: transparent;
    color: #C5A46D;
    font-size: 1rem;
    border: 2px solid;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
}

/* Fine HEADER */