/* Debug */


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form select,
form textarea,
form button {
    width: 50%;
}

html {
    scrollbar-width: none;
}


/* Fine Debug */




/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Fine RESET */








/* CARD */
.compare-card-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0 auto;
    width: 90%;
    overflow-x: auto;
}

.compare-card {
    border: 2px solid #C5A46D;
    padding: 20px;
    width: 30%;
    font-family: "Lato", sans-serif;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.compare-card-text {
    text-align: center;
    line-height: 30px;
}

.compare-card-text,
.compare-card-img,
.compare-card-info,
.compare-card-carateristiche,
.note-abbinamenti,
.prezzo {
    margin-bottom: 10px;
}

.compare-card-img {
    margin: 20px auto;
    width: 90%;
}

.compare-card-img img {
    object-fit: contain;
    width: 100%;
}

.compare-card-info p {
    margin: 5px 0px;
}


.compare-card-carateristiche p {
    margin-bottom: 5px;
}


.prezzo {
    text-align: center;
    color: #722F37;
    font-size: 1.3rem;
    font-weight: 700;
}

.compare-card button {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: #722F37;
    border: 1px solid #722F37;
    margin: 10px 0;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    transition: color 0.3s ease;
    z-index: 1;
    cursor: pointer;
}

.compare-card button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #722F37;
    z-index: -1;
    transition: height 0.4s ease;
}

.compare-card button:hover::before {
    height: 100%;
}

.compare-card button:hover {
    color: #C5A46D;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Fine CARD */











/* TABELLA */
.wine-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #F9F9F9;
    font-family: "Lato", sans-serif;
    font-size: large;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.wine-table thead {
    position: sticky;
    top: 100px;
    background-color: #722F37;
    color: #C5A46D;
    z-index: 5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.wine-table th,
.wine-table td {
    border: 1px solid #E0E0E0;
    padding: 15px;
    text-align: left;
}

.wine-table th {
    background-color: #722F37;
    color: #C5A46D;
}


.wine-table tr:hover {
    background-color: #f1f0f0;
}

.wine-table button {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: #722F37;
    border: 1px solid;
    margin: 0px 10px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Lato", serif;
    transition: color 0.3s ease;
    z-index: 1;
}

.wine-table button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #722F37;
    z-index: -1;
    transition: height 0.5s ease;
}

.wine-table button:hover::before {
    height: 100%;
}

.wine-table button:hover {
    color: #C5A46D;
}

.wine-table button.inCompare {
    background-color: #722F37 !important;
    color: #C5A46D !important;
}

.wine-table button.inFavorites {
    background-color: #722F37 !important;
    color: #C5A46D !important;
}

/* Fine TABELLA */





/* CONTAINER */
.container {
    margin-top: 100px;
}

/* FINE CONTAINER */




/* COMPARATORE */


/* Fine COMPARATORE */



/* FAVORITES */
.favorites-card-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.sottotitolo {
    font-size: 3rem;
    text-align: center;
    color: #722F37;
    padding: 20px;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

/* Fine FAVORITES */





/* MODALI */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* sfondo scuro trasparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* sopra tutto */
}

.modal {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    /* responsive */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

/* animazione di comparsa */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal Compare */
.compare-modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background: #fff;
    border: 2px solid #C5A46D;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 15px;
    font-family: "Lato", sans-serif;
    z-index: 1000;
    animation: slideUp 0.3s ease;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.compare-title {
    font-size: 1.2rem;
    color: #722F37;
    margin-bottom: 10px;
    text-align: center;
}

.compare-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.compare-list {
    max-height: 150px;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.compare-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #C5A46D;
    font-size: 0.9rem;
}

.compare-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.compare-actions button,
.compare-list .btn-close {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border: 1px solid #722F37;
    color: #722F37;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    transition: color 0.3s ease;
    z-index: 1;
}

.compare-actions button::before,
.compare-list .btn-close::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #722F37;
    z-index: -1;
    transition: height 0.4s ease;
}

.compare-actions button:hover::before,
.compare-list .btn-close:hover::before {
    height: 100%;
}

.compare-actions button:hover,
.compare-list .btn-close:hover {
    color: #C5A46D;
}

/* Variante per il bottone "Confronta" (btn-go) */
.compare-actions .btn-go {
    border: 1px solid #722F37;
    color: #722F37;
}

/* Variante per il bottone "Chiudi" (btn-close) */
.compare-actions .btn-close,
.compare-list .btn-close {
    border: 1px solid #722F37;
    color: #722F37;
}

/* Fine Modal Compare */

/* Fine Modali */







/* HEADER */

header {
    background-color: #722F37;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.login {
    margin-top: 100px;
}

.logo {
    width: 10%;
}

.logo img {
    object-fit: cover;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #C5A46D;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: "Playfair Display", serif;
    margin-right: 10px;
}

.links a {
    position: relative;
    text-decoration: none;
    padding: 5px 5px;
    transition: transform 0.3s ease;
}

.links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #C5A46D;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.links a:hover::after {
    width: 100%;
}

.links a.active {
    transform: translateY(-10px);

}

.links a.active::after {
    width: 100%;
}


.links button {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: #C5A46D;
    font-size: 1rem;
    border: 2px solid;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: "Playfair Display", serif;
    transition: color 0.3s ease;
    z-index: 1;
}


.links button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #C5A46D;
    transition: height 0.5s ease;
    border-radius: 3px;
    z-index: -1;
}



.links button:hover::before {
    height: 100%;

}

.links button:hover {
    color: #722F37;
}

/* Fine HEADER */








/* HERO */
.wine-hero {
    width: 100%;
    height: 900px;
    background-image: url(/public/img/hero-wine.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.winery-hero {
    width: 100%;
    height: 900px;
    background-image: url(/public/img/hero-winery.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.titolo {
    color: #C5A46D;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
}

/* FINE HERO */






/* Barra di ricerca */
.search {
    width: 80%;
    margin: 50px auto;
    display: block;
    padding: 10px 10px 10px 40px;
    border-color: #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background: url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat 10px center;
    background-size: 20px;
}


/* Fine Barra di ricerca */





/* Filter */
.filtro {
    width: 80%;
    margin: 30px auto;
    display: block;
}

.filtro label {
    margin-right: 20px;
    font-family: "Lato, sans-serif";
}

/* Fine Filter */




/* Form Generics */
input:focus,
textarea:focus,
select:focus {
    outline-color: #C5A46D;
}

input,
textarea,
select {
    padding: 10px;
    border-color: #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #722F37;
    font-weight: 600;
    font-family: "Lato, sans-serif";
}

/* Fine Form Generics */